h1 {
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi-trash3-fill {
    visibility: hidden;
}

ul li:hover .bi-trash3-fill {
    visibility: visible;
}

input {
    border: none;
    width: 100%;
}
